## Trabajo Final - Diplomatura en Ciencia de Datos Aplicada ðŸ“Š
### Integrantes:
* Boladeras Facundo
* Fontanini Pablo
* Miller Marcos
* Baeza Noeli

In [ ]:
# Liberias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Lectura del csv
df = pd.read_csv("./data/datos.csv")

In [ ]:
df.head()

,CICLO,EVENTO,LOTE,SUP,pp Nov,pp Dic,pp Ene,IPC,EROSION POTENCIAL,EVI 1 Nov media,...,EVI 17 Ene min,EVI 17 Ene max,EVI 2 Feb media,EVI 2 Feb min,EVI 2 Feb max,RINDE,H_Nov,H_Dic,H_Ene,Unnamed: 34
0,2001/02,Neutro,TEMPEL N2,64.8,353,140,156,52,moderadamente susceptible,0.21,...,0.61,0.62,0.49,0.47,0.51,6675,1458,677,1064,NaN
1,2001/02,Neutro,3D,118.4,353,140,156,34,practicamente no susceptible,0.51,...,0.30,0.58,0.19,0.16,0.30,8357,1463,696,1111,NaN
2,2001/02,Neutro,6NORTE,143.6,353,140,156,32,moderadamente susceptible,0.48,...,0.29,0.34,0.19,0.16,0.33,7296,1459,689,1093,NaN
3,2001/02,Neutro,BUEYES NORTE,143.1,358,136,120,32,moderadamente susceptible,0.33,...,0.45,0.76,0.47,0.32,0.60,4668,1455,689,1092,NaN
4,2001/02,Neutro,4,69.4,337,153,170,50,moderadamente susceptible,0.37,...,0.48,0.53,0.30,0.29,0.34,5848,1483,759,1239,NaN

In [ ]:
# Visualizar las dimensiones del dataframe
df.shape
print("El dataframe tiene", df.shape[0], "filas y", df.shape[1], "columnas")

El dataframe tiene 176 filas y 35 columnas

In [ ]:
# Contabilizar los valores nulos
df.isnull().sum()

In [ ]:
# Consultar el tipo de datos de cada columna
df.dtypes